p{color:pink;}
p{background:rgb(227, 228, 187);}
.highlight {background-color: rgb(155, 220, 236);}
.highlight2 {background-color: rgb(177, 123, 123);}
.highlight3 {background-color: rgb(247, 181, 232);}
#inazuma{
    width:200px; height:100px;}
h1{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
ol{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
