h1{color:rgb(37, 37, 126); padding-left: 600px;}
body{
    background-image: url("y2k\ wallpaper\ background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
#chii{
    height: 200px;
    width: 250px;
padding-top: 200px;
padding-left: 400px;}
.h1{color: rgb(120, 175, 228); padding-left: 400px;}
.h2{color:  rgb(214, 169, 177); padding-left: 400px;}

#una{
    height:150px;
    padding-left: 1100px;
    padding-top: 50px;}
.h3{
    color:rgb(185, 185, 95);
    padding-left: 1100px;}
.h4{
    color: rgb(120, 175, 228);
    padding-left: 400px;}
